.container {
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 28px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding: 10px;
}

.content {
  margin-top: 10px;
}

.add-new-btn {
  align-items: center;
}
