.not-found-box{
    text-align: center;
    width: 100%;
    min-height: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 28px;
    position: relative;
    padding: 10px;
}