body {
  margin: 0;
}

//Custom CSS
input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

.ant-input-password {
  position: relative;

  .ant-input-suffix {
    position: absolute;
    top: 0;
    right: 10px;
  }
}

.mt-10 {
  margin-top: 10px;
}

.d-flex {
  display: flex;
}

.flex-end {
  justify-content: flex-end;
}

.content {
  min-height: 400px;
}
